.center-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Código-Demo {
    button {
        font-size: 1em;
        border-radius: 1em;
        cursor: pointer;
        border: none;
        padding: .4em 1em;
        margin: 0 1em 0 0;
        background-color: #D0D0D0;
        color: #fff;
        transition: .5s all;
    }

    button:hover {
        transform: scale(1.05);
        background-color: #FFCE37;
    }

    .select {
        background-color: #FFCE37;
    }

    .Demo {
        display: flex;
        align-items: center;
        width: 70vw;
        height: 50vh;

        .Demo-Request {
            box-shadow: 0px 0px 14px 1px rgba(173, 173, 173, 0.25);
            border-radius: 1em;
            padding: 2em 1em;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 20%;
            height: 70%;
            margin: 2em 0;

            button {
                width: 100%;
            }
        }

        .Demo-Response {
            margin-left: 2em;
            box-shadow: 0px 0px 14px 1px rgba(173, 173, 173, 0.25);
            padding: 2em 1em;
            border-radius: 1em;
            width: 60%;
            height: 70%;
        }
    }

    .image-code {
        margin: 1em 0;
        width: 50%;

        img {
            border-radius: .5em;
            width: 100%;
            box-shadow: 0px 0px 14px 1px rgba(173, 173, 173, 0.25);
        }
    }
}

.simple-counter {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#0093E9, #80D0C7);

    .simple-counter-content {
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            color: #fff;
        }

        .counter {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 10em;
            height: 10em;
            border-radius: 1em;
            background-color: #fff;
            padding: 1em;

            h1 {
                font-size: 3em;
                color: #2AA7DD;
            }

            .arrow {
                cursor: pointer;
            }
        }
    }

    .conditioning-content {
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            color: #fff;
        }

        .conditioning {
            display: flex;
            align-items: center;
            width: 40em;
            height: 10em;
            border-radius: 1em;
            background-color: #fff;
            padding: 1em;

            h1 {
                font-size: 3em;
                width: 50%;
                color: #9B8FA1;
                margin-left: 3em;

                span {
                    color: #ff0000;
                }
            }

            .conditioning-icons {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;

            }
        }
    }
}

.Form-Validator {
    label {
        color: #202020;
        font-weight: 600;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .big-input,
    .medium-input,
    .small-input,
    .input-err,
    .medium-input-err,
    .small-input-err {
        padding: 0 .5em;
        border: 1px solid #DFDFDF;
        border-radius: 3px;
        height: 2em;
        margin: .3em 0;
        outline: none;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .big-input {
        padding: 0 .5em;
        width: 97%;
    }

    .input-err {
        padding: 0 .5em;
        background-color: #FFECFC;
        border: 1px solid #CA024F;
    }

    .medium-input-err {
        padding: 0 .5em;
        background-color: #FFECFC;
        border: 1px solid #CA024F;
        width: 100%;
    }

    .small-input-err {
        padding: 0 .5em;
        background-color: #FFECFC;
        border: 1px solid #CA024F;
        width: 80%;
    }

    .medium-input {
        width: 100%;
        padding: 0 .5em;
    }

    .small-input {
        padding: 0 .5em;
        width: 80%;
    }

    button {
        width: 50%;
        height: 2.5em;
        margin-bottom: .3em;
    }
}

.quizzApp{
    display: flex;
    justify-content: space-around;
    background-image: url('../Assets/backgroundQuizzApp.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 45vw;
    height: 46vh;
    padding: 2em 3em;
    border-radius: 0px 0px 2em 0px;
    .quizzApp-Question{
        color: #fff;
        width: 60%;
        span{
            font-size: .5em;
        }
        ul{
            border: 1px solid #FFFFFF3D;
        }
        h4{
            width: 80%;
            font-weight: 600;
        }
    }
    .quizApp-Options{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 3em 1em;
        width: 30%;
        .quizApp-Option{
            cursor: pointer;
            text-align: center;
            font-size: 1.4em;
            font-weight: 600;
            color: #F5851D;
            background: #FFFFFF;
            border-radius: 1.5em;
            padding: .4em;
        }
    }
}
.FindRecord{
    background-color: #F5F6FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vw;
    .Search{
        padding: 5em;
        width: 55%;
        display: flex;
        flex-direction: column;
        input{
            border-radius: 0.5em;
            width: 80%;
            height: 7vh;
            padding-left: 2em;
            border: 0px;
            font-size: 1em;
            outline: none;
        }
        h1{
            color: #746A6A;
            padding-left: 1em;
        }
    }
        .Search-Header{
            display: flex;
            justify-content: space-between;
            background-color: white;
            padding-right: 2em;
            border-radius: 0.5em;
        }
        img{
            transition: transform 0.3s;
        }
        img:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
    .Result{
        width: 65%;
        .Result-Header{
            display: flex;
            flex-direction: column;
            padding: 1em;
            border-collapse: collapse;
            .Tr-Header{
                display: flex;
                justify-content: space-around;
                th{
                    width: 10%;
                    display: flex;
                    color: #B2B6C0;   
                }
                padding-bottom: 1em;
            }
            .Tr-Component{
                display: flex;
                cursor: pointer;
                border-radius: 0.8em;
                transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
                th{
                    color: #6D6D6D;
                    height: 3em;
                    display: flex;
                    align-items: center;
                    width: 10%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                th .id {
                    color: #606060;
                }
                th .content {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;
                  }
                justify-content: space-around;
            }
            .Tr-Component:hover{
                transform:scale(1.01);
                background-color: #017BFF;
                box-shadow: 0px 4px 11px 0px #5B9FFF;
                th{
                    color: white;
                }
                th .id{
                    color: white;
                }
            }
        }
    }
}